<div class="nav-dropdown-mobile-template">
	<ul class="nav-links">
		<div class="main-links">
			<li class="overview">Overview</li>
			<li class="settings">Settings</li>
		</div>
		<div class="profile-links">
			<li class="signout">Sign Out</li>
		</div>
				
	</ul>
</div>