<!-- welcome.m  -->
<div class="welcome-mobile-template">
	<div class="page-header">
		<h1>Login</h1>
	</div>
	<ul class="nav-section">
		<li><a href="">Overview</a></li>
		<li><a href="">Users</a></li>
		<li><a href="">Settings</a></li>
	</ul>
	<div class="nav-section">
		<a href="">Your Profile</a>
	</div>
	<div class="nav-section">
		<a href="">Sign Out</a>
	</div>
</div>
