<div class="add-permission-mobile-template">
	<fieldset>
		<label for="email">User Information</label>
		<input id="email" name="email" type="text" autocorrect="off"
						placeholder="Enter user name or email" />
		<div class="auto-complete"></div>
		<label for="permission">Permission</label>
		<select id="permission">
			<option value="admin">Is admin</option>
			<option value="write">can edit</option>
			<option value="read">can view</option>
			<option value="comment">can comment</option>
		</select>
	</fieldset>
</div>