<!-- currentlyViewing.m  -->
<div class="currently-viewing-mobile-template">
	<div class="currently-viewing-container">
		<span>Currently Viewing</span>
		<div class="currently-viewing-items-region"></div>
	</div>
</div>

<div class="currently-viewing-item-mobile-template">
	<!-- change with model attr values -->
	<img src="/account/avatar/{{id}}" />
</div>
