<!-- sharingList.m  -->
<div class="inode-sharing-mobile-template">
	<div class="inode-sharing-items-region"></div>
</div>

<!-- inodeSharing.m  -->
<div class="inode-sharing-item-mobile-template clearfix">

	<img src="/account/avatar/{{owned_by.id}}" />
	<h3>{{owned_by.name}}</h3>
	<span>{{permission}}</span>
	<div class="remove-permission-button"></div>
</div>
