<!-- inodeActivity.m  -->
<div class="inode-activity-mobile-template">
	<div class="inode-activity-items-region"></div>
</div>


<!-- activityItem.m  -->
<div class="inode-activity-item-mobile-template clearfix">
	<img src="/account/avatar/{{created_by.id}}" />
	<div class="inode-info-container">
		<p class="inode-">{{message}}</p>
		<span>{{created_at}}</span>
	</div>
</div>
