<!-- inodeDetails.m  -->
<div class="inode-details-mobile-template">
	<div class="inode-info-container">
		<div class="inode-info clearfix">

			<div class="{{type}}-img 
							{% if (mimeClass) { %}{{mimeClass}}{% } %} 
							{% if (!parent || !parent.id) { %} orphan {% } %}">
			</div>

			<div class="inode-details">
				<h3>{{name}}<span>{{size}}</span></h3>
				<p>Created {{created_at}}<p>
			</div>
		</div>
	</div>
	<div class="currently-viewing-region"></div>
</div>
