<!-- login.m  -->
<div class="login-mobile-template">
	<!-- form section -->
	<div class="form-section">
		<form action="/auth/login" method="POST">
			<fieldset>
				<input name="email" type="text" placeholder="Email" />
				<input name="prometheus" type="password" placeholder="Password"  />
			</fieldset>
			<a href="">Forgotten password?</a>
			<input type="submit" value="Login" />
		</form>
	</div>

	<!-- create account section -->
	<!-- <div class="create-account-container">
		<span>New to Olympus?</span>
		<a class="action-button" href="">Create an account</a>
	</div> -->
</div>