<div class="account-password-mobile-template">

	<form action="/account/changePassword" method="POST">
    <fieldset>
      <label for="oldPrometheus">Old Password</label>
      <input id="oldPrometheus" name="oldPrometheus" type="password" placeholder="Enter old password" 
      				autocapitalize="off" />
    </fieldset>
    <fieldset>
      <label for="prometheus">New Password</label>
      <input id="prometheus" name="prometheus" type="password" placeholder="Enter new password" 
      				autocapitalize="off" />
      <input name="checkPrometheus" type="password" placeholder="Confirm new password" 
      				autocapitalize="off" />
    </fieldset>
    <fieldset class="update">
      <div class="submit-button submit-password">Update</div>
    </fieldset>
  </form>
</div>