<div class="account-settings-mobile-template">
	<ul class="clearfix">
		<li class="profile">Profile</li>
		<li class="password">Password</li>
		<!-- <li class="alerts">Alerts</li> -->
	</ul>
	<div class="selected-tab-content-region"></div>
</div>