<!DOCTYPE html>
<html>
	<head>
		<title><%- title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<%- rigging.css %>
		
		<%- rigging.js %>
		<script type="text/javascript" src="/js/moment.js"></script>
		<script type="text/javascript" src="/js/fillout.js"></script>
		
		<!-- Good ol' css -->
		<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css"/>
		<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/layout.css"/>

		<style>

		</style>

	</head>
	<body>
		<div class="reset-password-page portal-only">
			<a href="/"><img src="/images/logo_loginScreen.png"/></a>
			<div class="reset-password-outlet"></div>
		</div>

		<!-- Template library -->
		<%- rigging.templateLibrary %>


		<script type="text/javascript">
			Mast.raise({
				// Before router is instantiated and routes are run
				beforeRouteFn: function() {

					// Create global app object if we are on a mobile device.
					if (Mast.isMobile) {
						// Olympus = {
						// 	mobileApp: new Mast.components.LoginMobile()
						// };

						// Login page
						$(".login-page").remove();
						
					} else {
						new Mast.components.ResetPasswordComponent({outlet: '.reset-password-outlet'});
					}
				}
			});
		</script>
	</body>
</html>