<html>
<body>
  <p>Dear <%= account.name %><br/><br/>
  <a href="http://<%= host %>/auth/resetPassword?code=<%= account.verificationCode %>">Click here</a> to reset your password.
  <br/><br/>Best,<br/>The Olympus Team
</body>
</html>
