<html>
<body>
  <p>Dear <%= account.name %>,<br/><br/>
  Welcome to the Olympus file sharing system!  Your account details are: <br/><br/>
  User: <%= account.username %><br/>
  Password: <%= account.password %><br/><br/>
  To log in to Olympus, <a href='http://<%= host %>'>click here.</a><br/><br/>
  Sincerely,<br/>
  The Olympus Team
  </p>
<body>
</html>
