<!-- left navigation -->
<div class="account-settings-template clearfix">
    
    <ul class="account-pages">
        <li class="accountDetails selected">
            <a href="#account/details" class="account-details"> Account Details</a>
        </li>

        {% if ( showPassword ) { %}
            <li class="accountPassword">
                <a href="#account/password" class="account-password"> Change Password </a>
            </li>
        {% } %}

        {% if ( showSetting ) { %}

            <li class="accountAppearance">
                <a href="#account/appearance" class="account-appearance"> Appearance </a>
            </li>

            <li class="settings">
                <a href="#account/settings" class="account-notifications"> Settings</a>
            </li>
        {% } %}

        {% if ( showSystemSetting ) { %}

            <li class="systemSettings">
                <a href="#account/systemsettings" class="system-settings"> System Settings </a>
            </li>

                <li class="systemPages accountSubscriptionSubnav" style="display:none;margin-left:30px;">
                    <a href="#account/systemsettings" class="system-database"> Database Connection Settings </a>
                </li>

                <li class="systemPages accountSubscriptionSubnav" style="display:none;margin-left:30px;">
                    <a href="#account/systemsettings" class="system-ssl"> SSL Configuration Settings </a>
                </li>

                <li class="systemPages accountSubscriptionSubnav" style="display:none;margin-left:30px;">
                    <a href="#account/systemsettings" class="system-domain"> Domain Settings </a>
                </li>
                <li class="systemPages accountSubscriptionSubnav" style="display:none;margin-left:30px;">
                    <a href="#account/systemsettings" class="system-adapter"> Adapter Settings </a>
                </li>
                <li class="systemPages accountSubscriptionSubnav" style="display:none;margin-left:30px;">
                    <a href="#account/systemsettings" class="system-email"> Email Settings </a>
                </li>
                <li class="systemPages accountSubscriptionSubnav" style="display:none;margin-left:30px;">
                    <a href="#account/systemsettings" class="system-trash"> Trash Settings </a>
                </li>
                <li class="systemPages accountSubscriptionSubnav" style="display:none;margin-left:30px;">
                    <a href="#account/systemsettings" class="system-ldap"> LDAP/AD Settings </a>
                </li>
                <li class="systemPages accountSubscriptionSubnav" style="display:none;margin-left:30px;">
                    <a href="#account/systemsettings" class="system-update"> Check for Updates </a>
                </li>
                <li class="systemPages accountSubscriptionSubnav" style="display:none;margin-left:30px;">
                    <a href="#account/systemsettings" class="system-other"> Other Settings </a>
                </li>

        {% } %}
        
        {% if (showSubscription) { %}

            <li class="accountSubscription">
                <a href="#account/subscription" class="account-subscription"> Subscription Plan </a>
            </li> 
            
        {% } %}

    </ul>
    
    <div class="account-settings-page"></div>

</div>
