<div class="admin-page-template  mast-ui-table" style="background-clip: padding-box;border-radius: 7px;box-shadow: 0 1px 5px #b3bac4;margin: 40px 2%;padding: 15px;min-height:700px;">
	<div class="admin-user-title title-mod">
		<div class="title-fix">
 			<span>Manage Admins User</span>
 			<!-- <a href="#addAdminProfile" class="add-subscription">
 				<input class="btn btn-primary" type="button" value="Add New">
			</a> -->
			<div class="clear"></div>
		</div>
	</div>
	<div class="adminuser-table-region"></div>
	<div class="adminuser-sidebar-region"></div>
</div>

