<div class="admin-user-details-template">
	<div class="organization-bar clearfix main-mod">
		<div class="dir-files {{column1.className}} header-color mast-critical mast-column-header" style="height:30px;font-size:24px;">
			<span>{{column1.name}}</span>
		</div>
		<div class="dir-files {{column2.className}} header-color mast-critical mast-column-header" style="height:30px;font-size:24px;">
			<span>{{column2.name}}</span>
		</div>
		<div class="admin-user-details-outlet clearfix"  style="width:100%;"></div>
	</div>	
</div>

<!-- user row template -->
<div class="admin-user-details-row-template clearfix" style="width:100%;float:left;">
	<div class="dir-files admin-user-details-name mast-critical mast-column-header features-column-text">
		<span class="admin-user-name">{{ name }}</span>
	</div>
	<div class="dir-files admin-user-details-email mast-critical mast-column-header">
		<span  class="admin-user-name">
			{{ email }}
		</span>
	</div>
</div>

