<li class="breadCrumbItem-template {% if (collapsed) {  %}
collapsed
{% } %} ">{{dirName}}</li>

<div class="breadCrumb-template">
	<ul id="breadCrumb-outlet" class="breadCrumb-list clearfix"></ul>
</div>