<div class="change-password-template account-page-container">
  <div class="page-details-container clearfix">
    <h2>Change Password</h2> 
    <form action="/account/changePassword" method="POST" class="change-password-form">
      <fieldset>
        <label for="oldPrometheus">Old Password</label>
        <input id="oldPrometheus" name="oldPrometheus" type="password" placeholder="Enter old password" />
        <label for="prometheus">New Password</label>
        <input id="prometheus" name="prometheus" type="password" placeholder="Enter new password" />
        <label for="checkPrometheus">Confirm New Password</label>
        <input id="checkPrometeus" name="checkPrometheus" type="password" placeholder="Confirm new password"  />
      </fieldset>
    </form>
  </div>
  <div class="account-save-button submit-update">Save</div>
</div>