<div class=" check-email-template">
	<div class="header">Check Your Email</div>

	<!-- form section -->
	<div class="check-email-body">
		<h2>Thank You!</h2>
		<p>You should be recieving an email confirmation shortly with a link to reset your password.</p>
	</div>

	<!-- footer section -->
	<div class="footer clearfix">
		<a href="/auth/login">Sign In</a>
	</div>
</div>
