<div class="create-new-password-template">
	<div class="header">Create New Password</div>

	<!-- form section -->
	<form action="/auth/createPassword" method="POST">
		<fieldset class="create-new-password-body clearfix">
			<label for="password">New Password</label>
			<input id="password" name="password" type="password" placeholder="Must be greater than 5 characters" />
			<label for="prometheus">Repeat Password:</label>
			<input id="prometheus" name="prometheus" type="password" placeholder="Retype your password" />
		</fieldset>

		<!-- footer section -->
		<fieldset class="footer clearfix">
			<input type="hidden" name="code" value="{{code}}"/>
			<input type="submit" value="Continue"/>
			<a href="">Cancel</a>
		</fieldset>
	</form>
</div>
