<!-- currently viewing list template -->
<div class="current-viewers-template">
	<h5>Currently Viewing:</h5>
	<div class="currently-viewing-outlet viewing-avatars"></div>
</div>

<span class="access">Recent Activity:</span>
<!-- viewer template -->
<a class="viewer-template user-avatar-link"  href="#">
	<img src="/account/avatar/{{id}}" class="user-avatar" />
</a>

