<div id="actionDropdownButtonCollapsed-template" class="actionDropdownButton dropdownButton clearfix">
	<!-- <input type="button" value="Action Dropdown Generator Component" /> -->
	<span class="dropdown-button"></span>

</div>

<!-- action dropdown template -->
<div class="dropdown-template"> 
	<ul class="dropdownActions-outlet"></ul>
</div>

<!-- dropdown action template -->
<li class="dropdownAction-template actions {{method}}">
	<span> {{name}} </span>
</li>

