<div class="email-notifications-template account-page-container">
  <div class="page-details-container">
    <h2>Email Notifications</h2> 
    <ul class="notification-list">
      <li class="download-notification clearfix">
        <img src="/images/icon_checkMark_inactive@2x.png"
          class="checkMark-icon download-checkmark checkmark-inactive notification-updater"/>
        <span>Download</span>
      </li>
      <li class="upload-notification clearfix">
        <img src="/images/icon_checkMark_inactive@2x.png"
          class="checkMark-icon upload-checkmark checkmark-inactive notification-updater"/>
        <span>Upload</span>
      </li>
      <li class="comment-notification clearfix">
        <img src="/images/icon_checkMark_inactive@2x.png"
          class="checkMark-icon comment-checkmark checkmark-inactive notification-updater"/>
        <span>Comment</span>
      </li>
      <li class="delete-notification clearfix">
        <img src="/images/icon_checkMark_inactive@2x.png"
          class="checkMark-icon delete-checkmark checkmark-inactive notification-updater"/>
        <span>Delete</span>
      </li>
    </ul>
  </div>
  <div class="update-container">
    <a class="setting-save-button notification-updater"><img src="/images/button_save@2x.png" /></a>
  </div>
</div>

<!-- notification row template -->
<!-- <div class="notification-row-template clearfix">
  
</div -->