<div class="enterprises-page-template  mast-ui-table" style="background-clip: padding-box;border-radius: 7px;box-shadow: 0 1px 5px #b3bac4;margin: 40px 2%;padding: 10px;min-height:700px;">
	<div class="enterprises-title title-mod">
		<div class="title-fix">
 			<span>Enterprises</span>
 			<a href="#addEnterprises" class="add-subscription">
				<input class="btn btn-primary" type="button" value="Add New">
			</a>
			<div class="clear"></div>
		</div>
	</div>
	<div class="enterprises-table-region"></div>
</div>