<!-- details template -->
<div class="enterprises-details-template account-page-container">
    <div class="page-details-container clearfix">
        <h2>Enterprise 1</h2> 
        <div class="ent-user-details-container clearfix">
            <div class="enterprises-details">
                <h3 class="enterprises-name">Geoff Tudor</h3>
                <span class="enterprises-title">Managing Director</span>
                <span class="enterprises-email">geoff@tudorism.com</span>
                <span class="enterprises-phonenumber">011 123 3456</span>
            </div>
        </div>
        <div class="user-details-text">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
        </div>
    </div>
</div>