<div class="enterprises-workgroups-template mast-ui-table">
    <div style="background: none repeat scroll 0 0 #dee6f5;color: #636c78;padding: 10px;">
        <h1>Enterprise Workgroup</h1>
    </div> 
    <div>&nbsp;</div>   
    <div class="enterprises-workgroup-outlet clearfix"></div>
</div>

<div class="enterprises-workgroup-row-template clearfix">
    <img src="/images/icon_workgroup@2x.png" />
    <span class="user-name"> {{ name }} <i><b>( {{ type }} )</i></b></span>
</div>

<div class="update-container">
    <a class="setting-save-button notification-updater">
        <img src="/images/button_save@2x.png" />
    </a>
</div>
