<!-- left navigation -->
<div class="enterprises-settings-template clearfix">
    <ul class="enterprises-pages">
        
        <li class="enterpriseDetails selected">
            <a href="#enterprises/updateenterprise" class="enterprises-details">
                Enterprise Details
            </a>
        </li>
        
        <li class="enterpriseWorkgroup">
            <a href="#enterprises/enterprisesworkgroups" class="enterprises-workgroups">
                Enterprise Workgroup
            </a>
        </li>
        
        <li class="enterpriseUsers">
            <a href="#enterprises/enterprisesusers" class="enterprises-users">
                Enterprise Users
            </a>
        </li>

<!--        <li class="accountPassword">
            <a href="#account/password" class="enterprises-password">
                Change Password
            </a>
        </li> -->

    </ul>
    <div class="enterprises-settings-page"></div>
</div>
