<div class="enterprises-user-template mast-ui-table">
    <div style="background: none repeat scroll 0 0 #dee6f5;color: #636c78;padding: 10px;">
        <h1>Enterprises Users</h1>
    </div> 
    <div>&nbsp;</div>   
    <div class="enterprises-user-outlet clearfix"></div>
</div>

<div class="enterprises-user-row-template clearfix">
    <img src="{{avatar}}" />
    <span class="user-name"> {{ name }} </span>
</div>

<div class="update-container">
    <a class="setting-save-button notification-updater">
        <img src="/images/button_save@2x.png" />
    </a>
</div>
