<div class="enterprises-sidebar-template"> 	
 	<div class="close-sidebar"></div>
	<div class="enterprises-details-container clearfix">
		<img class="enterprises-pic" src="{{ avatarSrc }}" />
		<div class="enterprises-details">
			<h3 class="enterprises-name">{{ name }}</h3>
			<span class="enterprises-title">Managing Director</span>
			<span class="enterprises-email">{{ email }}</span>
			<span class="enterprises-phonenumber">{{ phone_number }}</span>
		</div>
	</div>
	<div class="ent-info-container">
		<div class="ent-info-head"><h3>Info</h3></div>
		<div class="space-consumed">
			<div><h3>Total Space Consumed<h3></div>
			<div>Using 350 Mb of 1 Gb</div>
		</div>
	</div>
	<div class="work-info-container">
		<div class="work-info-head"><h3>Total number of workgroups <span>{{workgroup_limit}}</span></h3></div>
	</div>
	<div class="link-info-container">
		<div class="link-info-head">Link to share (only accessible by administrators)</div>
		<div class="link-text">
			https://olympus.io
		</div>
	</div>
	<div class="operation-container">
		<div class="operation-wrap">
			<div><img class="icon-pic" src="{{ avatarSrc }}" /><span class="name">Geoff Tudor</span></div>
			<div class="inner-operation"><span>Is admin</span></div>
		</div>
		<div class="operation-wrap">
			<div><img class="icon-pic" src="{{ avatarSrc }}" /><span class="name">Mike Thomas</span></div>
			<div class="inner-operation"><span>Is admin</span><span class="remove"></span></div>
		</div>
	</div>

	<div class="enterprises-option-buttons">
		<a class="lock-account-button"><span>Lock Enterprise<span></a>
		<a class="delete-account-button"><span>Delete Enterprise</span></a>
	</div>
</div>
  

<!-- <div class="enterprises-template">
	<p>THIS IS REALLY GOOD</p>
</div> -->