<!-- details template -->
<div class="enterprises-workgroup-menu-template account-page-container">
    <div class="side-menu-container clearfix">
      <img class="pages-user-pic" src="/images/icon_workgroup@2x.png" />
        <div class="enterprises-details">
          <span class="enterprises-phonenumber">Workgorup 1</span>
      </div>
  </div>
  <div class="side-menu-container clearfix">
      <img class="pages-user-pic" src="/images/icon_workgroup@2x.png" />
        <div class="enterprises-details">
          <span class="enterprises-phonenumber">Workgorup 2</span>
      </div>
  </div>
</div>