<!-- details template -->
<div class="enterprises-pages-template account-page-container">
    <div class="side-menu-container clearfix">
      <img class="pages-user-pic" src="images/icon_profilePicture_default@2x.png" />
        <div class="enterprises-details">
          <span class="enterprises-phonenumber">Geoff Tudor</span>
      </div>
  </div>
  <div class="side-menu-container clearfix">
      <img class="pages-user-pic" src="images/icon_profilePicture_default@2x.png" />
        <div class="enterprises-details">
          <span class="enterprises-phonenumber">Jhonson</span>
      </div>
  </div>
</div>