<div class="forgot-password-template">
	<div class="login-box-head">Forgot Password</div>

	<!-- form section -->
	<form class="login-box-body" action="/auth/forgot-password" method="post">
		<label for="email">Email address:</label>
		<input name="email" type="text" placeholder="What is your email address" class="login-input-field" />
        <a href="/auth/login">back to login</a>
	</form>
	<!-- footer section -->
	<div class="login-box-footer clearfix">
		<a class="submit-button"><img src="/images/button_signIn@2x.png" class="signin-button"/></a>
		<!--<a class="signup-link">Sign Up</a>-->
	</div>
</div>
