<div class="list-subscription-page-template  mast-ui-table" style="background-clip: padding-box;border-radius: 7px;box-shadow: 0 1px 5px #b3bac4;margin: 40px 2%;padding: 15px;min-height:700px;">
	<div class="subscription-title title-mod">
		<div class="title-fix">
 			<span>Subscription Plans</span>
			<div class="clear"></div>
		</div>
	</div>
	<div class="list-subscription-table-region"></div>
</div>