<div class="listusers-page-template  mast-ui-table" style="background-clip: padding-box;border-radius: 7px;box-shadow: 0 1px 5px #b3bac4;margin: 40px 2%;padding: 10px;min-height:700px;">
    <div class="enterprises-title title-mod">
        <div class="title-fix">
            <span>List Users</span>
            <a href="#reports" class="add-subscription">
                <input class="btn btn-primary" type="button" value="Add New">
            </a>

            <a href="#importusers" class="add-subscription">
                <input class="btn btn-primary" type="button" value="Import Users" style="margin-right: 10px;">
            </a>
            <div class="clear"></div>
        </div>
    </div>
    <div class="">
        <div id="list_pagignation" align="right"  style="width:85%;"></div>
    </div>
    <div class="listusers-table-region"></div>
</div>
