<div class="list-subscription-template">
	<div class="organization-bar clearfix main-mod" >
		<div class="dir-files {{column1.className}} header-color mast-critical mast-column-header"><span>{{column1.name}}</span></div>
		<div class="dir-files {{column2.className}} header-color mast-critical mast-column-header"><span>{{column2.name}}</span></div>
		<div class="dir-files {{column3.className}} header-color mast-critical mast-column-header"><span>{{column3.name}}</span></div>
		<div class="dir-files {{column4.className}} header-color mast-critical mast-column-header"><span>{{column4.name}}</span></div>
		<div class="dir-files {{column5.className}} header-color mast-critical mast-column-header"><span>{{column5.name}}</span></div>
		<div class="dir-files {{column6.className}} header-color mast-critical mast-column-header"><span>{{column6.name}}</span></div>
		<div class="dir-files {{column7.className}} header-color mast-critical mast-column-header"><span>{{column7.name}}</span></div>
	<div class="list-subscription-outlet clearfix"  style="width:100%;"></div>
</div>	
</div>

<!-- list row template -->
<div class="list-subscription-row-template clearfix" style="width:100%;float:left;">
	<div class="dir-files list-features-column mast-critical mast-column-header features-column-text"><span>{{features}}</span></div>
	<div class="dir-files list-price-column mast-critical mast-column-header"><span>${{price}}</span></div>
	<div class="dir-files list-duration-column mast-critical mast-column-header"><span>{{duration}}</span></div>
	<div class="dir-files list-sub-users-column mast-critical mast-column-header"><span>{{users_limit}}</span></div>
	<div class="dir-files list-Workgroups-column mast-critical mast-column-header"><span>{{workgroup_limit}}</span></div>
	<div class="dir-files list-quota-column mast-critical mast-column-header"><span>{{quota}}</span></div>
	<div class="dir-files list-btn-column">
		<div class="subscribe-option-buttons">
			<a class="impersonate-btn subscribe-btn"><span>Subscribe<span></a>
		</div>
	</div>
</div>