<div class="profile-page-template  mast-ui-table" style="background-clip: padding-box;border-radius: 7px;box-shadow: 0 1px 5px #b3bac4;margin: 40px 2%;padding: 15px;min-height:700px;">
	<div class="profile-title title-mod">
		<div class="title-fix">
 			<span>Manage Admins Profile</span>
 			<a href="#addProfile" class="add-subscription">
				<input class="btn btn-primary" type="button" value="Add New">
			</a>
			<div class="clear"></div>
		</div>
	</div>
	<div class="profile-table-region"></div>
	<div class="profile-sidebar-region"></div>
</div>