<div class="reset-password-template">
	<div class="header">Forgot Password</div>

	<!-- form section -->
	<form action="/auth/resetPassword" method="POST">
		<fieldset class="reset-password-body clearfix">
			<label for="email">Email address:</label>
			<input id="email" name="email" type="text" placeholder="What is your email address" />
		</fieldset>

		<!-- footer section -->
		<fieldset class="footer clearfix">
			<input type="submit" value="Reset Password"/>
			<span>Remember your password? Click <a href="/login">here</a></span>
		</fieldset>
	</form>
</div>
