<div class="search-result-template mast-ui-table">
    
    <div class="enterprises-title title-mod">
        <div class="title-fix">
            <span>Search Results</span>
            <div class="clear"></div>
        </div>
    </div>
    <div>&nbsp;</div>   
    <div class="search-result-outlet clearfix main-mod"></div>
</div>

<div class="search-result-row-template clearfix">
    <img src="/images/38.png" />
    <span class="searchuser-list"> {{ name }} </b></span>
</div>

<div class="update-container">
    <a class="setting-save-button notification-updater">
        <img src="/images/button_save@2x.png" />
    </a>
</div>