<div class="searchdate-result-template mast-ui-table">
    
    <div class="enterprises-title title-mod">
        <div class="title-fix">
            <span>Search Results</span>
            <div class="clear"></div>
        </div>
    </div>

     

    <div>&nbsp;</div>   

    <div class="organization-bar clearfix" style="margin-left:2%;width: 96%">
        <div class="dir-files {{column1.className}} header-color mast-critical" style="padding: 15px 0 !important;">
            <span style="font-size:15px;" >{{column1.name}}</span>
        </div>
        
        <div class="dir-files {{column2.className}} header-color mast-critical" style="padding: 15px 0 !important;">
            <span style="font-size:15px;" >{{column2.name}}</span>
        </div>
        <div class="dir-files {{column3.className}} header-color mast-critical" style="padding: 15px 0 !important;">
            <span style="font-size:15px;" >{{column3.name}}</span>
        </div>
        <div class="dir-files {{column4.className}} header-color mast-critical" style="padding: 15px 0 !important;">
            <span style="font-size:15px;">{{column4.name}}</span>
        </div>

        <div class="dir-files {{column5.className}} header-color mast-critical" style="padding: 15px 0 !important;">
            <span style="font-size:15px;">{{column5.name}}</span>
        </div>
        <div class="log-outlet clearfix"  style="width:100%;"></div>
    </div>  

    <div class="searchdate-result-outlet clearfix" ></div>

</div>

<div class="searchdate-result-row-template organization-bar main-mod clearfix" style="width:96%;">

    {% if(name !=='error_123'){%}

    <div class="dir-files log-user-column mast-critical log-column-text" style="padding: 15px 0 !important;">
        <span style="font-size:15px;" class="searchuser-list" >{{ name }}</span>
    </div>
    <div class="dir-files log-activity-column mast-critical log-column-text" style="padding: 15px 0 !important;">
        <span style="font-size:15px;">{{ text_message }}</span>
    </div>
    <div class="dir-files log-clientip-column mast-critical log-column-text" style="padding: 15px 0 !important;">
        <span style="font-size:15px;">{{ ip_address }}</span>
    </div>
    <div class="dir-files log-date-column mast-critical log-column-text" style="padding: 15px 0 !important;">
        <span style="font-size:15px;">{{ created_at }}</span>
    </div>
    <div class="dir-files log-date-column mast-critical log-column-text" style="padding: 15px 0 !important;">
        <span style="font-size:15px;">{{ platform }}</span>
    </div>
    {% }else{%}
     <div class="dir-files" style="font-size:13px;margin-left:50px;">No records found !</div>
    {% }%}
</div>
    

