<div class="search-dialog-template">	

	<div class="popup-head">Assign Workgroup</div>
	<div class="popup-body">
		<label class="files-text">Search workgroup...</label>
		<div class="workgroup-list" style="width:300px;">
		<input type="text" id="workgoup" placeholder="Search Text" class="popup-box-input workgroups" />
		</div>

		<div class="permission-type" style="width:300px;">
			<select name="permission_type" style=" border: 1px solid #d7dbdc;margin-bottom: 12px;padding: 10px 15px;width: 305px;">
                <option value="">Select Role</option>
                <option value="admin">Is Admin</option>
                <option value="write">Can Edit</option>
                <option value="comment">Can Comment</option>
            </select>
		</div>
	</div>

	<div class="popup-foot clearfix">
		<a class="upload-button no-submit">Assign</a>
		<span class="cancel">Cancel</span>
		<div class="loading-spinner"></div>
	</div>

</div>