<div class="sharing-link-template">
	<div class="public-link">
		<p>Link to share</p>
		<input type="text" value="{{link}}" />
	</div>
	<div class="public-link-option">
		<label for="public_link_enabled">Enable link</label> <input style="width: auto;" class="public_link_enabled" name="public_link_enabled" type="checkbox" value="yes">
	</div>
	<div class="public-sublinks-option">
		<label for="public_sublinks_enabled">Enable links for files / subfolders</label> <input  style="width: auto;" type="checkbox" class="public_sublinks_enabled" name="public_sublinks_enabled" value="yes"/>
	</div>
</div>