<div class="superadmin-template">
	<div class=" clearfix main-mod">
		<a href="#enterprises/1" class="menu-text" title="Enterprises">
			<div class="super-boxes">
				<img src="/images/enterprises.png" width="300px" height="150px"/>

			</div>
		</a>
		<a href="#listusers/1" class="menu-text" title="User">
			<div class="super-boxes">
				<img src="/images/users.png" width="300px" height="150px"/>
			</div>
		</a>
		<a href="#subscription" class="menu-text" title="Subscription">
			<div class="super-boxes">
				<img src="/images/subscription-plan.png" width="300px" height="150px"/>
			</div>
		</a>
<!--		<a href="#profile" class="menu-text" title="Create Profiles">
			<div class="super-boxes">
				<img src="/images/manage_profile.png" width="300px" height="150px"/>
			</div>
		</a>
		<a href="#adminUser" class="menu-text"  title="Manage Admin Users">
			<div class="super-boxes">
				<img src="/images/manage_admin_users.png" width="300px" height="150px"/>
			</div>
		</a>-->
		<a href="#log/1" class="menu-text"  title="View Log">
			<div class="super-boxes">
				<img src="/images/viewlog.png" width="300px" height="150px"/>
			</div>
		</a>
		<a href="#transaction/1" class="menu-text"  title="View Payment Transaction">
			<div class="super-boxes">
                            <img src="/images/payment.png" style="" width="300px" height="150px"/>
			</div>
		</a>
	</div>
	<div id="superadmin-outlet" class="clearfix">
	</div>
</div>