<div class="syncdbox-dialog-template">
	
	<div class="popup-head">Dropbox</div>
	<div class="popup-body">

		<iframe src="{{ syncpath }}"></iframe>

	</div>

	<div class="popup-foot clearfix">
		<a class="upload-button no-submit-removed">Upload</a>
		<span class="cancel">Cancel</span>
		<div class="loading-spinner"></div>
	</div>

</div>