<div id="tooltipGenerator-template" class="tooltipGenerator">
	<input type="button" value="this is a tool tip generator" />
	<div id="tooltip-outlet"></div>
</div>

<div id="tooltip-template" class="tooltip-container">
	<span class="tooltip">{{tooltipString}}</span>
	<span class="triangle-image"></span>
</div>