<div class="trash-dialog-template">
	
	<div class="popup-head">Restoring Item(s)</div>
	<!--<p>The folder(s) where one or more selected items originally came from no longer exists.</p>
	<p><b>Select a different location to restore to:</b></p>-->
	<div class="popup-body">
		<div class="css-treeview">
		    <ul>
        		<li>
			        
			        <!-- <label for="item-0">Ooops! A Nested Folder</label>
			        
            		<ul>
                		<li>
                			<input type="checkbox" id="item-0-0" />
                			<label for="item-0-0">Ooops! A Nested Folder</label>
                    		<ul>
	                        	<li>
	                        		<input type="checkbox" id="item-0-0-0" />
	                        		<label for="item-0-0-0">Look Ma - No Hands!</label>
	                            	<ul>
		                                <li><a href="./">First Nested Item</a></li>
		                                <li><a href="./">Second Nested Item</a></li>
		                                <li><a href="./">Third Nested Item</a></li>
		                                <li><a href="./">Fourth Nested Item</a></li>
	                            	</ul>
	                        	</li>
		                        <li><a href="./">Item 1</a></li>
		                        <li><a href="./">Item 2</a></li>
		                        <li><a href="./">Item 3</a></li>
                    		</ul> 
                		</li>
		                 <li>
		                	<input type="checkbox" id="item-0-1" />
		                	<label for="item-0-1">Yet Another One</label>
		                    <ul>
		                        <li><a href="./">item</a></li>
		                        <li><a href="./">item</a></li>
		                        <li><a href="./">item</a></li>
		                        <li><a href="./">item</a></li>
		                        <li><a href="./">item</a></li>
		                        <li><a href="./">item</a></li>
		                        <li><a href="./">item</a></li>
		                        <li><a href="./">item</a></li>
		                    </ul>
		                </li> 
			        </ul> -->
				</li>
			</ul>
		</div>
	</div>

	<div class="popup-foot clearfix">
		<a class="upload-button no-submit-removed">Restore</a>
		<span class="cancel">Cancel</span>
		<div class="loading-spinner"></div>
	</div>

</div>