<div class="mast-ui-table">
	<div class="organization-bar clearfix">
		<div class="dir-left column1 dir-files column-header"><span>{{mainColumn}}</span></div>
		<div class="dir-middle column2 non-critical column-header"><span>{{column2}</span></div>
		<div class="dir-right column3 information non-critical column-header"><span>{{column3}}</span></div>
	</div>
	<div id="fileSystem-outlet" class="clearfix"></div>
</div>