<div class="update-dialog-template">

	<div class="popup-head">Update "fileName"</div>
	<div class="popup-body clearfix">
		<label class="files-text">Replace with this file:</label>
		<input type="text" placeholder="Filename.png" class="popup-box-input"/>
		<div class='uploader'></div>
	</div>
	
	<div class="popup-foot clearfix">
		<a class="upload-button no-submit">Update</a>
		<span class="cancel">Cancel</span>
		<div class="loading-spinner"></div>
	</div>

</div>