<div class="upgrade-confirm-template" style="background-clip: padding-box;border-radius: 7px;box-shadow: 0 1px 5px #b3bac4;margin: 40px 2%;padding: 10px;min-height:700px;">
<!-- upgrade header -->
    <div class="title-mod">
        <div class="title-fix">
            <span>Thank you for subscribing</span>
            <div class="clear"></div>
        </div>
    </div>
<!-- settings content -->
    <div id="main-mod" class="main-mod"> 
        <div class="add-subscription account-page-container">

            <div class="page-details-container clearfix">
                <form class="add-subscription-form" method="POST" action="/subscription/impersonate">
                    <table width="60%">
                       

                        <tr>
                            <td width="15%">
                                <label><b>Transaction ID</b></label>
                                <input type="hidden" name="email" value="<%- email%>"/>
                            </td>
                            <td width="45%">
                                <label>{{transaction_id}}</label>
                            </td>
                        </tr>

                        <tr>
                            <td width="15%">
                                <label><b>Transaction Amount</b></label>
                            </td>
                            <td width="45%">
                                <label>${{price}}</label>
                            </td>
                        </tr>

                        <tr>
                            <td width="15%">
                                <label><b>Transaction Time</b></label>
                            </td>
                            <td width="45%">
                                <label>{{created_date}}</label>
                            </td>
                        </tr>

                        <tr>
                            <td width="15%">
                                <label><b>Status</b></label>
                            </td>
                            <td width="45%">
                                <label>{{paypal_status}}</label>
                            </td>
                        </tr>

                        <tr>
                            <td width="15%">
                                <label><b>Plan Name</b></label>
                            </td>
                            <td width="45%">
                                <label>{{plan_name}}</label>
                            </td>
                        </tr>

                        <tr>
                            <td width="15%">
                                <label><b>Duration<b/></label>
                            </td>
                            <td width="45%">
                                <label>From {{duration_from}} to {{duration_to}}</label>
                            </td>
                        </tr>

                    </table>

                    <!-- <a href="https://localhost/subscription/index">
                        <input type="button" value="Dashboard" class="btn-primary"/>
                    </a> -->

                    <!-- <input type="submit" value="Go to Dashboard" class="btn-primary"/> -->
                </form>
            </div>
            <!-- <div class="account-save-button buy-subscription">Save</div> -->
        </div>
        <div class="clear"></div>
    </div>  
</div>










