<!-- action bar -->
<div class="upload-search-template">
	<div class="main-action-container clearfix">
		
		<div class="dir-folder-creation" >
			{% if (uploadFileButton) { %}
				<a class="upload-file" title="Upload file"><div class="button-image"></div></a>
			{% } %}
			{% if (createFolderButton) { %}
				<a class="create-folder" title="Create folder"><div class="button-image"></div></a>		
			{% } %}
		</div>

		<!-- searchbar -->
		<div class="searchbar">
			<input type="text" placeholder="Search Users" name="search"/>
			<input type="button" name="search-button" value="Search"  class="search-users" style="width: 107px;border-radius: 0px; color: #FFF;font-weight: 700;background:#357EBD;"/>
		</div>

		<a href="#trash">
			<img src="/images/trash.jpg" style="cursor:pointer;height: 23px;margin-top: 14px;float: right;margin-left: 10px;" class="thumbnail"> 
		</a>
		<img src="/images/list_view.png" style="cursor:pointer;height: 30px;margin-top: 10px;float: right;margin-left: 10px;" class="detail-list"> 
		<!-- <img src="/images/thumbnail.png" style="cursor:pointer;height: 23px;margin-top: 14px;float: right;margin-left: 10px;" class="thumbnail"> -->

		{% if (!superadmin) { %}

			{% if (boxSync) { %}
				<img src="/images/app_box.png" style="cursor:pointer;height: 30px;margin-top: 10px;float: right;margin-left: 10px;" class="sync-box">
			{% } %}

			{% if (dropboxSync) { %}
				<img src="/images/dbox-sync-32.png" style="cursor:pointer;height: 30px;margin-top: 10px;float: right;margin-left: 10px;" class="sync-dbox">
			{% } %}

			{% if (gdriveSync) { %}
				<img src="/images/drive-sync-32.png" style="cursor:pointer;height: 30px;margin-top: 10px;float: right;margin-left: 10px;" class="sync-drive">
			{% } %}

		{% } %}
	</div>
</div>