<div class="upload-dialog-template">
	
	<div class="popup-head">Upload a File</div>
	<div class="popup-body">

		<label class="files-text">Select file...</label>
		<input type="text" placeholder="Filename.png" class="popup-box-input" />
		<div class='uploader'></div>

		<div class="clear-tab"></div>
		<label class="files-text">Will upload to...</label>
		<div class='upload-path-name'> {{ pathName }} </div>

	</div>

	<div class="popup-foot clearfix">
		<a class="upload-button no-submit-removed">Upload</a>
		<span class="cancel">Cancel</span>
		<div class="loading-spinner"></div>
	</div>

</div>