<div class="users-page-template" style="float:left;">
	<div class="users-table-region" style="float:left;width:1285px;"></div>
	<div class="users-sidebar-region" style="float:left;width:300px;"></div>
</div>