<div class="users-template mast-ui-table">
	<div class="organization-bar clearfix">
		<div class="dir-files dir-left {{column1.className}} mast-critical mast-column-header"><span>{{column1.name}}</span></div>
	</div>
	<div class="users-outlet clearfix"></div>
</div>

<!-- user row template -->
<div class="user-row-template clearfix">
	<img src="{{avatarSrc}}" />
	<span class="user-name">{{ name }}</span>
</div>