<!-- left navigation -->
<div class="user-settings-template clearfix">
    <ul class="account-pages">
        <li class="userDetails selected">
            <a href="#user/details" class="user-details">User Details</a>
        </li>
        <li class="userPassword">
            <a href="#user/password" class="account-password">Change Password</a>
        </li>
        <li class="listWorkgroup">
          <a href="#user/workgroups" class="user-workgroups">Workgroups </a>
        </li>
    </ul>
    <div class="user-settings-page"></div>
</div>