<div class="user-sidebar-template"> 	
 	<div class="close-sidebar"></div>
	<div class="user-details-container clearfix">
		<img class="user-pic" src="{{ avatarSrc }}" />
		<div class="user-details">
			<h3 class="user-name">{{ name }}</h3>
			<span class="user-title">{{ job_title }}</span>
			<span class="user-email">{{ email }}</span>
			<span class="user-phonenumber">{{ phone_number }}</span>
		</div>
	</div>
	<div class="user-option-buttons">
		<a class="lock-account-button" style="text-align:center;color:#FFF;"> Lock </a>
		<a class="delete-account-button" style="text-align:center;color:#FFF;"> Delete </a>
	</div>
</div>
  

<div class="user-template">
	<p>TTTTHISSS IS REALLY GOOD</p>
</div>