<!-- user navigaton -->
<div class="user-nav-template clearfix">
	<a class="user-avatar-link">
		<img src="/images/39.png" class="user-avatar" />
		<!-- <img src="/account/avatar" class="user-avatar" /> -->
	</a>
	<div class="name-container">
		<span class="user-name">Hi,
			<a class="user-name-link" href="#" title="User Profile">
				{{name}}
			</a>
		</span>
		<!-- put this back when we are ready for it -->
		<div class="dropdown-button"></div>
	</div>
</div>